body{
  background-color:#2f3035
}


.container {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

header {
  background-color: rgb(55, 102, 230);
  height: 108px;
  width: 1024px;
}

nav {
  background-color: rgb(230, 63, 63);
  height: 40px;
  width: 1024px;
}
main {
  background-color: rgb(143, 226, 111);
  height: 400px;
  width: 1024px;
}
footer {
  background-color: rgb(64, 144, 219);
  height: 100px;
  width: 1024px;
}
