header{
  background-color:blue;
  height: 108px;
  width: 1024px
}

nav{
  background-color:red;
  height: 40px;
  width: 1024px;
}
main{
  background-color:rgb(143, 226, 111);
  height: 400px;
  width: 1024px;
}
footer {
  background-color:rgb(64, 144, 219);
  height: 100px;
  width: 1024px;
}